.collection-container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 100%;

  .collection-title {
    position: absolute;
    * {
      font-family: 'Imbue', serif;
      font-size: 70px;
      text-transform: uppercaase;
    }

  }
  
  .glassmorph {
    position: fixed;
    right: 300px;
    top: 300px;
    width: 500px;
    height: 500px;
    background: rgba(255, 255, 255, 0.24);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(17.8px);
    -webkit-backdrop-filter: blur(17.8px);
    border: 1px solid rgba(255, 255, 255, 0.45);
  }
}
