.collection-container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 100%;

  .collection-title {
    position: absolute;
    * {
      font-family: 'Imbue', serif;
      font-size: 70px;
      text-transform: uppercaase;
    }

  }
  
  
}
