.logo-wrapper {
  display: flex;
  position: relative;
  margin: auto;
  height: 100%;
  align-items: center;
  justify-content: center;
}

path {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
}

.blur-path {
  filter: blur(5px);
}