@import "../../app.scss";

.links {
  width: 100%;
  height: 100vh;
  gap: 20px;
  margin: 0px 0px 0px 30px;

  .inactive {
    p::before {
      content: "";
    }
  }

  .active {
    p::before {
      content: "•   ";
    }
  }

}
